$primary-color: #EC4700;

$black-color: #000;
$light-black-color: #1F1D1B;
$white-color: #fff;
$border-color: #d8d6d7;
$error-message-bg: #f4c7c7;
$error-message-color:#3e0505;

$font-family: 'Space Grotesk';
$fallBack-fontFamily: sans-serif;

$transition: all 0.4s ease-in-out;
$box-shadow: rgba(0,0,0,.15) 0px 3px 10px;
$red-color: red;
$blue-color: blue;