@use '../variable.scss' as variable;

.recipe-detail{
    .container{
        max-width: 790px;
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0px -5px;
        .tag-wrapper{
            padding: 0px 5px;
            a{
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                color: variable.$black-color;
                background-color: variable.$border-color;
                border-radius: 1000px;
                padding: 4px 8px;
                text-align: center;
                transition: variable.$transition;
                &:hover{
                    color: variable.$white-color;
                    background-color: variable.$black-color;
                }
            }
        }
    }
    .recipe-image{
        position: relative;
        padding-bottom: 56.316%;
        margin: 32px 0px;
        img{
            border-radius: 24px;
            object-fit: cover;
        }
    }
    .rating-and-reviews{ 
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
        .review-count{
            line-height: 1;
            font-size: 14px;
            color: variable.$black-color;
            font-weight: 400;
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        &.instructions{
            list-style: auto;
            padding-left: 20px;
            li {
                position: static;
                padding-left: 0px;
            }
        }
        li{
            font-size: 19px;
            color: variable.$light-black-color;
            line-height: 1.612;
            padding-left: 15px;
            font-weight: 400;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: variable.$black-color;
                left: 3px;
                top: 12px;
            }
        }
    }
}